@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IAuthService AuthService

<main class="group flex h-full flex-col">
	<!-- Top Header -->
	<div class="navbar bg-base-300">
		<!-- Navbar menu button-->
		<label for="sideMenuToggleId"
		class="btn swap swap-rotate">
			<!-- hamburger icon -->
			<svg class="w-8 h-8 swap-off fill-current" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" width="24" height="24" viewBox="0 0 24 24">
				<path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14" />
			</svg>

			<!-- close icon -->
			<svg class="w-8 h-8 swap-on fill-current" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
				<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6" />
			</svg>

			<!--Checked True  (Open)-->
			<!--Checked False (Close)-->
			<input type="checkbox"
			id="sideMenuToggleId" @onchange="ToggleMenu" checked="@isMenuOpen" />
		</label>

		<!-- Navbar title-->
		<div class="mx-2 mr-auto px-2">
			<p class="tw-bg-gradient-to-r tw-from-pink-500 tw-via-purple-500 tw-to-pink-500 tw-bg-clip-text tw-text-transparent tw-text-3xl tw-font-bold tw-italic">
				Fadi Labs
			</p>
		</div>

		@* <div class="flex-1 justify-end overflow-hidden">
			<ul class="menu menu-horizontal px-1 py-0">
				<!-- Navbar menu content here -->
			</ul>
		</div> *@
	</div>

	<div class="bg-gradient-to-r from-primary via-purple-500 to-pink-500 relative h-1 overflow-hidden">
		<div class="absolute -left-full top-0 h-1 w-full bg-base-100"></div>
	</div>

	<main class="flex-1 relative flex overflow-hidden" id="main-body">
		<!-- Side Drawer Content -->
		<div id="navMenuContainerId"
		class="z-10 transition-margin bg-base-300 @(isMenuOverlay ? "absolute" : "relative") inset-0 flex w-60 flex-col @(!isMenuOpen ? "-ml-60" : "")">

			<ul class="menu gap-1 bg-base-200">
				<NavMenuLoginItem />
			</ul>
			<div class="flex-1 overflow-auto scroller">
				<ul class="menu gap-1 bg-base-200">

					<NavMenuHomeItem />

					<LabAuthorizeView LabPermissions="LabsPermissions.ConfigureSite">
						<Authorized>
							<NavMenuTestsItem />
							<NavMenuBlogLabItem />
							<NavMenuUserLabItem />
							<NavMenuAuth0LabItem />
						</Authorized>
					</LabAuthorizeView>

					<li>
						<details class="space-y-1" open>
							<summary>
								<span class="menu-dropdown-toggle menu-dropdown-show">
									<span>
										<span class="font-bold">Site Settings</span>
									</span>
								</span>
							</summary>
							<ul class="space-y-1">
								<li>
									<label for="expandNavSideMenuId"
									class="justify-start flex items-center">

										<span class="flex-1">
											Overlay Content
										</span>

										<!--Checked True  (Expand)-->
										<!--Checked False (Overlay)-->
										<input type="checkbox"
										checked="@isMenuOverlay"
										@onchange="ToggleMenuOverlay"
										class="checkbox checkbox-sm"
										id="expandNavSideMenuId" />
									</label>
								</li>
								<li>
									<label class="justify-start flex items-center">
										<span class="flex-1">
											Theme
										</span>
									
										<span class="swap swap-rotate">
											<input id="themeCheckBoxId"
											type="checkbox" 
											class="theme-controller" 
											checked="@(isLightMode)"
											value="@(isLightMode ? "light" : "dark")"
											@onchange="ToggleTheme" />

											<!-- sun icon -->
											<svg class="swap-off h-6 w-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="24" height="24">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 5V3m0 18v-2M7.05 7.05 5.636 5.636m12.728 12.728L16.95 16.95M5 12H3m18 0h-2M7.05 16.95l-1.414 1.414M18.364 5.636 16.95 7.05M16 12a4 4 0 1 1-8 0 4 4 0 0 1 8 0Z" />
											</svg>

											<!-- moon icon -->
											<svg class="swap-on h-6 w-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" width="24" height="24">
												<path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 21a9 9 0 0 1-.5-17.986V3c-.354.966-.5 1.911-.5 3a9 9 0 0 0 9 9c.239 0 .254.018.488 0A9.004 9.004 0 0 1 12 21Z" />
											</svg>
										</span>
									</label>
								</li>
							</ul>
						</details>
					</li>
				</ul>
			</div>
		</div>

		<!--Overlay-->
		<label for="sideMenuToggleId"
		id="navSideMenuOverlayId"
		class="bg-black/70 z-[9] absolute inset-0 @((isMenuOpen && isMenuOverlay) ? "animate-fade animate-duration-150" : "hidden")">
		</label>

		<!-- Body Content -->
		<div class="flex-1 relative flex flex-col overflow-hidden">
			<div class="h-full overflow-auto scroller">
				<div class="p-2 flex flex-col gap-2">
					@Body
				</div>
			</div>
		</div>
	</main>

	<!-- Bottom Footer -->
	<footer class="text-center text-xs">© 2024 Fadi Ksho | Built with ❤ using .NET @Environment.Version.Major & Blazor</footer>
</main>

@code {
	private bool isMenuOpen = true;
	private bool isMenuOverlay = false;
	private bool isLightMode = false;

	void ToggleMenu(ChangeEventArgs args)
	{
		isMenuOpen = (bool)args.Value!;
	}

	void ToggleMenuOverlay(ChangeEventArgs args)
	{
		isMenuOverlay = (bool)args.Value!;
	}

	void ToggleTheme(ChangeEventArgs args)
	{
		isLightMode = (bool)args.Value!;
	}

	async void Logout()
	{
		await AuthService.DeAuthenticateAsync();
	}
}