@page "/labs/auth0-lab/manage/permissions"

@code
{
	[Inject] public required IServiceExecutor<IUIBus> ServiceExecutor { get; set; }
	
	[Inject] public required IDialogService DialogService { get; set; }

	private Result<GetPermissionsResponse> getPermissionsResult;
	private GetPermissions getPermissionRequest = new();
	private MudDataGrid<PermissionResponse> dataGrid = null!;

	private async Task<GridData<PermissionResponse>> ServerReload(GridState<PermissionResponse> state)
	{
		getPermissionsResult = await ServiceExecutor.ExecuteAsync(nameof(GetPermissions), x =>
		{
			return x.Send(getPermissionRequest);
		}, false);

		return new GridData<PermissionResponse>
			{
				TotalItems = getPermissionsResult.Entity.Permission.Count,
				Items = getPermissionsResult.Entity.Permission
			};
	}

	private async Task CreatePermissionModalHandler() 
	{
		var dialogOptions = new DialogOptions()
			{
				MaxWidth = MaxWidth.Medium,
				FullWidth = true,
				BackdropClick = false,
				CloseButton = false,
				CloseOnEscapeKey = true
			};

		await DialogService.ShowAsync<CreatePermissionForm>(null, dialogOptions);
	}
}

<MudPaper Class="pa-2">
	<MudToolBar WrapContent="true"
							Gutters="false"
							Class="gap-2 pa-2 sticky z-10 mud-elevation-2 mb-4"
							Style="top: 0; background: var(--mud-palette-background)">
		<MudText Typo="Typo.h5" Class="flex-grow-1 pl-2 border-l-4 border-solid mud-border-primary">Resource: @getPermissionsResult.Entity?.Name</MudText>
		<div class="d-flex justify-center gap-4 flex-grow-1">
			<MudFab Color="Color.Primary"
							Size="Size.Medium" 
							StartIcon="@Icons.Material.Filled.Add"
							Class="flex-shrink-0 ms-auto"
							OnClick="CreatePermissionModalHandler"/>
		</div>
	</MudToolBar>

	<ResultError Error="@getPermissionsResult.Error" />

	<MudDataGrid @ref="dataGrid" T="PermissionResponse" ServerData="ServerReload" Filterable="false" SortMode="SortMode.None">
		<Columns>
			<PropertyColumn Property="x => x.Value" />
			<PropertyColumn Property="x => x.Description" />
			<TemplateColumn>
				<HeaderTemplate>
					<MudIconButton Icon="@Icons.Material.Outlined.Refresh" Class="pa-2" OnClick="dataGrid.ReloadServerData" />
				</HeaderTemplate>
				<CellTemplate>
					<MudIconButton Icon="@Icons.Material.Outlined.Edit" Class="pa-2" />
				</CellTemplate>
			</TemplateColumn>
		</Columns>
		<PagerContent>
			<MudDataGridPager T="PermissionResponse" />
		</PagerContent>
	</MudDataGrid>
</MudPaper>

