@page "/auth0-lab/manage/users"

@code
{
	[Inject]
	public IServiceExecutor<IUIBus> ServiceExecutor { get; set; } = default!;

	private Result<PagedList<GetUsersResponse>> getUsersResult;
	private Dictionary<string, bool> showUserDetails = [];
	private GetUsers getUsersRequest = new();

	protected override async Task OnInitializedAsync()
	{
		getUsersResult = await ServiceExecutor.ExecuteAsync(nameof(GetUsers),  x =>
		{
			return x.Send(getUsersRequest);
		}, true);
	}

	private void toggleUserDetailsHandler(string userId)
	{
		if (showUserDetails.ContainsKey(userId))
		{
			showUserDetails[userId] = !showUserDetails[userId];
		}
		else
		{
			showUserDetails[userId] = true;
		}
	}
}

<Papper>
	<LoadingTitle Title="Labs Users"
		IsLoading="ServiceExecutor.IsRequestLoading(nameof(GetUsers))" />

	@if (getUsersResult.IsFailed)
	{
		<ResultError Error="@getUsersResult.Error" />
	}

	@if(getUsersResult.IsSuccess)
	{
		<div class="overflow-x-auto scroller">
			<table class="table table-pin-cols">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Verified Email</th>
						<th class="p-0 text-end">
							#
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var user in getUsersResult.Entity.Items)
					{
						<tr>
							<td>@user.UserId</td>
							<td>
								<div class="flex items-center gap-3">
									<div class="avatar">
										<div class="mask mask-squircle h-12 w-12">
											<img src="@user.Picture"
													 alt="" />
										</div>
									</div>
									<div>
										<div class="font-bold">@user.Name</div>
										<div class="text-sm opacity-50">@user.Email</div>
									</div>
								</div>
							</td>
							<td>@user.EmailVerified</td>
							<th class="p-0">
								<div class="flex justify-end">
									<button class="btn btn-info btn-sm" @onclick="() => toggleUserDetailsHandler(user.UserId)">
										Details
									</button>
								</div>
							</th>
						</tr>
						@if (showUserDetails.ContainsKey(user.UserId) && showUserDetails[user.UserId])
						{
							<tr class="bg-base-200">
								<td colspan="4" class="p-0">
									User Details...
								</td>
							</tr>
						}
					}
					@if (getUsersResult.Entity.Items.Count == 0)
					{
						<tr>
							<td colspan="3">
								Empty Users.
							</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	}


</Papper>